<section class="post-paginator">
    <div class="post-pager">
        <% if (page.prev){ %>
        <div class="previous">
            <a class="prev-a" href="<%- config.root %><%- page.prev.path %>">
                <div class="paginator-cover" style="background-image: url('<%- page.prev.thumb %>');">
                    <div class="prev-text">
                        <div class="prev-title">
                            <%= page.prev.title %>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        <% } %>
        <% if (page.next){ %>
        <div class="next"><a href="<%- config.root %><%- page.next.path %>">
                <div class="paginator-cover" style="background-image: url('<%- page.next.thumb %>');">
                    <div class="next-text">
                        <div class="next-title">
                            <%= page.next.title %>
                        </div>
                    </div>
                </div>
        </div>
        </a>
    </div>
    <% } %>
    </div>
</section>